


.redbar {
    font-size: 300%;
 }
 
 .nav {
     border:solid; 
 }
 
.shelly{
  background-image: url("/images/heart.png");
   
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
 
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  text-align: center;
  border:solid; 
  color: white; 
  font-size: 100%;

}

.submitbtn {
  padding-left: 10px;
}
 
.form-group {
}
 
 
 .huh {
   border: solid; 
 }


 #fone {
  height: 30px;
  width: 30px;
  padding-left: 3px;
}

#emailpic {
  height: 30px;
  width: auto;
  padding-left: 3px;
}

.footbar {
  border: solid; 
  padding-top: 16px;
}

.foottext {
  color: white; 
}
 
 
