
body {
    background-color: aqua;
}
.container {
    margin: 0 auto;
}   

label {
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
   
   }

   #fone {
       height: 30px;
       width: 30px;
       padding-left: 3px;
   }